<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <meta charset="utf-8"/>
  <title>{{ title }} - {{ page_title }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  {% if description %}<meta name="description" content="{{ description }}"/>{% endif %}
  {% if keywords %}<meta name="keywords" content="{{ keywords }}"/>{% endif %}
  <meta name="author" content="{{ author }}"/>
  {% if translator %}<meta name="translator" content="{{ translator }}"/>{% endif %}
  <meta name="generator" content="{{ generator }}"/>
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css"/>
</head>

<body class="book-page">

  <nav class="navbar navbar-full">
    <div class="container">
      <div class="clearfix">
        <a class="navbar-brand hidden-sm-up" href="/" title="Rails 指南">Rails 指南</a>
        <button class="navbar-toggler hidden-sm-up float-xs-right" type="button" data-toggle="collapse" data-target="#main-nav">☰</button>
      </div>
      <a class="navbar-brand hidden-xs-down" href="/" title="Rails 指南">Rails 指南</a>
      <div class="collapse navbar-toggleable-xs float-sm-right" id="main-nav">
        <ul class="nav navbar-nav">
          <li class="nav-item"><a class="nav-link" href="/" title="首页">首页</a></li>
          <li class="nav-item active"><a class="nav-link" href="/book/" title="阅读">阅读</a></li>
          <li class="nav-item"><a class="nav-link" href="http://railstutorial-china.org" title="Ruby on Rails 教程" target="_blank">教程</a></li>
          <li class="nav-item"><a class="nav-link" href="http://guides.rubyonrails.org" title="Rails Guides">英文版</a></li>
          <li class="nav-item"><a class="nav-link" href="/#ebook" title="电子书">电子书</a></li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="main">
    <div class="container">
      <div class="row">
        <div class="offset-lg-2 col-lg-8">

          <div class="alert alert-warning">
            在线版的内容可能落后于电子书，如果想及时获得更新，请<a href="/#ebook" title="购买电子书">购买电子书</a>。
          </div>

          <article class="article">
            {{ content }}
          </article>

          {{ footnotes }}
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <p>&copy;2016 <a href="http://about.ac" title="安道的个人网站" target="_blank">安道</a>和 <a href="https://github.com/chinakr" title="chinakr@GitHub" target="_blank">chinakr</a>，保留部分权利。</p>
      <p>Rails 指南翻译自 Rails Guides，与原文一样，基于 <a href="https://creativecommons.org/licenses/by-sa/4.0/" title="CC BY-SA 4.0">CC BY-SA 4.0</a> 协议发布。</p>
      <p>“Rails”“Ruby on Rails”和 Rails 徽标是 David Heinemeier Hansson 持有的商标。</p>
    </div>
  </footer>

</body>
</html>
